@{
    ViewData["Title"] = "About us";
}

<!-- About us page for site information. Replaced privacy policy page as we didn't need it. -->

<h1>@ViewData["Title"]</h1>

        <h1></h1>
        <p>Welcome to Bucstop – your ultimate destination for arcade gaming fun, right at your fingertips! At Bucstop, we believe that every student deserves a break from the hustle and bustle of academic life. That's why we've created a vibrant online arcade platform where you can unwind, destress, and unleash your inner gamer—all in between classes.</p>

        <h1>Our Mission</h1>
        <p>Our mission at Bucstop is simple yet profound: to provide students with a dynamic and entertaining gaming experience that fits seamlessly into their busy schedules. We understand the importance of taking a breather during those hectic school days, and our platform is designed to be your go-to destination for a quick dose of fun and relaxation.</p>

        <h1>What We Offer</h1>
        <p>Dive into our extensive collection of arcade games, carefully curated to cater to a wide range of interests and preferences. Whether you're a fan of classic retro games, adrenaline-pumping action, mind-bending puzzles, or casual time-killers, we've got something for everyone. And the best part? All you need is your student email to log in and start playing—no extra hassle required!</p>

        <h1>Why Choose Bucstop?</h1>
        <p>What sets Bucstop apart from other online gaming platforms is our exclusive focus on serving the student community. We understand the unique needs and preferences of students, and our platform is designed with your convenience and enjoyment in mind. With a user-friendly interface, seamless accessibility, and a diverse selection of games, Bucstop is your one-stop destination for gaming escapades during those precious breaks between classes.</p>

        <h1>Join the Bucstop Community</h1>
        <p>Join thousands of students just like you who have discovered the joy of gaming on Bucstop. Whether you're looking to challenge your friends to a friendly competition, sharpen your gaming skills, or simply unwind and have fun, Bucstop is here to make your gaming experience unforgettable.</p>

        <h1>Get Started Today</h1>
        <p>Ready to embark on your gaming adventure? Simply log in with your student email, explore our wide array of games, and let the fun begin! At Bucstop, the excitement never stops.</p>
    
