@{
    ViewData["Title"] = "";
}

<!-- Page regarding legal documentation for games. Pretty much just text.-->

<h1>@ViewData["Title"]</h1>


        <h1>Copyright Policy</h1>
        <p><strong>Last Updated:</strong> 2/14/2024</p>

        <h1>1. Copyright Infringement Policy</h1>
        <p>a. Bucstop does not permit the uploading or sharing of any games or content that infringe upon the copyrights of others. Users are prohibited from uploading or sharing any games or content that they do not own or have the necessary rights to distribute.</p>
        <p>b. If we receive a valid notice of copyright infringement in accordance with the procedures outlined in Section 3 of this Copyright Policy, we will promptly remove the infringing material from the Website and terminate the accounts of repeat infringers.</p>

        <h1>2. User Responsibility</h1>
        <p>a. Users are solely responsible for ensuring that any games or content they upload or share on the Website comply with all applicable copyright laws. Before uploading or sharing any games or content, users should ensure that they own the rights to the material or have obtained the necessary licenses or permissions from the copyright owner.</p>
        <p>b. Users may upload games that they have created themselves or games that are licensed under an open-source license or other permissible license that allows for distribution.</p>

        <h1>3. Copyright Infringement Notices</h1>
        <p>a. If you believe that your copyrighted work has been infringed upon on the Website, please send a written notice of copyright infringement to our designated Copyright Agent at the following address:</p>
        <p>867-5309 Maurice Keeyes</p>
        <!-- Include the rest of the Copyright Infringement Notices section -->

        <h1>4. Counter-Notification</h1>
        <p>a. If you believe that your material has been removed or disabled by mistake or misidentification, you may send a counter-notification to our Copyright Agent.</p>
        <!-- Include the rest of the Counter-Notification section -->

        <h1>5. Contact Us</h1>
        <p>If you have any questions or concerns about our Copyright Policy, please contact us at bucstop@etsu.edu.</p>
   
